[submodule "lib"]
	path = lib
	url = https://github.com/Kurasuta/Lib.git
[submodule "peyd"]
	path = peyd
	url = https://github.com/larsborn/peyd.git
[submodule "magic"]
	path = magic
	url = https://github.com/ahupp/python-magic.git
